<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @semestre.numero %>
</p>

<p>
  <strong>Fluxo:</strong>
  <%= @semestre.fluxo_id %>
</p>

<%= link_to 'Edit', edit_semestre_path(@semestre) %> |
<%= link_to 'Back', semestres_path %>
